<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>キャラクターの確認だよ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
 <div class="chat-box">
    <h2>{{ username }}さんだね！こんにちは！</h2>
    <p>{{ character }}とおしゃべりする？</p>
    <img src="{{ url_for('static', filename=images[0]) }}" alt="{{ character }}" width="200">
    <form method="post" class="input-row">
        <button type="submit" name="action" value="決定">{{ character }}とおしゃべりする</button>
        <button type="submit" name="action" value="やり直す">やり直す</button>
    </form>
 </div>
</body>
</html>
