<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>履歴をダウンロードしよう！</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>履歴をダウンロードしよう！</h2>
<formaction="/download_history"  class="input-row" method="post">
    <button type="submit">履歴をダウンロードするよ</button>
</form>
<form action="/"  class="input-row" method="get">
    <button type="submit">最初に戻る</button>
</form>
</body>
</html>


