<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>名前入力</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>
<body>
    <h2>あなたの名前を入力してください</h2>
<form method="post">
  <input type="text" name="username" required>
  <div>
    <label>
        <input type="radio" name="icon" value="user_icon01.png" checked>
        <img src="{{ url_for('static', filename='user_icon01.png') }}" alt="犬アイコン1" width="60">
    </label>
    <label>
        <input type="radio" name="icon" value="user_icon02.png">
        <img src="{{ url_for('static', filename='user_icon02.png') }}" alt="テトアイコン2" width="60">
    </label>
      <!-- もっと増やすなら同じパターンで -->
  </div>

  <button type="submit" name="action" value="決定">決定</button>
  <button type="reset">やり直す</button>
</form>
</body>
</html>
