<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>チャットを続けるかリセットするか確認！</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h2>前回のデータが残っています。<br>続きからおしゃべりしますか？</h2>
  <form method="post" action="/resume_confirm">
    <button type="submit" name="action" value="はい">はい（続きから）</button>
    <button type="submit" name="action" value="いいえ">いいえ（最初から）</button>
  </form>
</body>
</html>