<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>キャラクター選択</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h2>おしゃべりしたいキャラクターを選んでね</h2>
    <form method="post">
        <button type="submit" name="character" value="ちいかわ">ちいかわ</button>
        <button type="submit" name="character" value="ハチワレ">ハチワレ</button>
        <button type="submit" name="character" value="うさぎ">うさぎ</button>
        <button type="submit" name="character" value="くりまんじゅう">くりまんじゅう</button>
        <button type="submit" name="character" value="ラッコ">ラッコ</button>
        <button type="submit" name="character" value="シーサー">シーサー</button>        <button type="submit" name="character" value="モモンガ">モモンガ</button>
    </form>
</body>
</html>
